html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}

.nav-bar li {
  list-style: none;
  margin-right: 12px;
}
