.action-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.action-bar button {
  margin-left: 12px;
}

.post-list-container {
  padding: 0 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
}

.post-item-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 16px;
  border-radius: 12px;
  max-width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-item-container span {
  color: #9a9a9a;
}

button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px 0;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: #000;
  color: #fff;
}
